//
// Base styles
//

.alert {
  position: relative;
  padding: 20px 30px 20px 46px;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
  i {
    position: absolute;
    top: 23px;
    left: 20px;
    font-size: 1rem;
  }
  .close {
    margin-right: -10px;
  }
  .btn-secondary {
    margin-top: 10px;
  }
  ul {
    padding-left: 18px;
  }
}

.toast {
  display: inline-block;
  padding: $alert-toast-padding-y $alert-toast-padding-x;
  font-size: 14px;
  font-weight: $headings-font-weight;
  line-height: initial;
  border-radius: $alert-toast-border-radius;
  &.alert-danger {
    @include alert-variant(#bf3e24, #bf3e24, $white);
    padding-left: 45px;
    &::before {
      position: absolute;
      top: 10px;
      left: 20px;
      font-family: "#{$icomoon-font-family}";
      speak: none;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      line-height: 1;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e936";
    }
  }
  &.alert-success {
    @include alert-variant(#297848, #297848, $white);
    padding-left: 45px;
    &::before {
      position: absolute;
      top: 10px;
      left: 20px;
      font-family: "#{$icomoon-font-family}";
      speak: none;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      line-height: 1;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e91a";
    }
  }
  &.alert-neutral {
    @include alert-variant(#555555, #555555, $white);
  }
  a {
    margin-left: 50px;
    color: $white;
    text-decoration: underline;
  }
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: ($close-font-size + $alert-padding-x * 2);

  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(theme-color-level($color, $alert-bg-level), theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}

//Custom Styles

.alert-success {
  color: #297848;
  background: #d2f5e0;
  &::before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "#{$icomoon-font-family}";
    speak: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e91a";
  }
}
.alert-primary {
  color: #0d6dc1;
  background: #e1f1ff;
  &::before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "#{$icomoon-font-family}";
    speak: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e9bc";
  }
}
.alert-warning {
  color: #a85502;
  background: #feebc9;
  &::before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "#{$icomoon-font-family}";
    speak: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e9c2";
  }
}
.alert-danger {
  color: #bf3e24;
  background: #ffe9e4;
  &::before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: "#{$icomoon-font-family}";
    speak: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e936";
  }
}
