.nav-top {

  .nav-top-search {
    width: $top-navbar-search-input-width;
    height: $top-navbar-search-input-height;
    @include border-radius($top-navbar-search-border-radius);

    .search-light {
      background: $top-navbar-search-light-bg-color;

      &.focused {
        border: solid $border-width $top-navbar-search-light-border-color-focused;
      }
    }

    .search-light-icon {
      color: $top-navbar-search-light-icon-color;

      &.focused {
        color: $top-navbar-search-light-icon-color-focused;
      }
    }

    .search-dark {
      background: $top-navbar-search-dark-bg-color;
    }

    .search-dark-icon {
      color: $top-navbar-search-dark-icon-color;

      &.focused {
        color: $top-navbar-search-light-icon-color-focused;
      }

    }
  }

  .nav-top-logo {
    width: $top-navbar-height;
    height: $top-navbar-logo-width;
  }

  .nav-top-item {
    font-size: $top-navbar-item-font-size;
    font-weight: $top-navbar-item-font-weight;
    color: $top-navbar-item-color;
    background: $top-navbar-item-bg-color;

    .avatar {
      height: $top-navbar-item-height;
      border: solid  $top-navbar-item-border-width $top-navbar-item-border-color;
    }

    .icon {
      font-size: $top-navbar-item-icon-size;
    }

    .no-avatar,
    .with-notification,
    .icon {
      height: $top-navbar-item-height + $top-navbar-item-border-width;
    }

    &:hover {
      color: $top-navbar-item-color-hover;
    }

  }
}
